<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-brand">Nation Sounds</div>
        <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#navbarNav" 
                aria-controls="navbarNav" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if not is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="billeterie">Billeterie</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_event') }}">Gestion concerts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_info') }}">Gestion informations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_part') }}">Gestion Partenaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_reseaux') }}">Gestion Réseaux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_list') }}">Gestion Utilisateurs</a>
                    </li>
                 {% endif %}
                 {% if app.user == null %}
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
                    </li>
                 {% else  %}
                     <li class="nav-item">
                         <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                     </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
