{% extends 'base.html.twig' %}

{% block title %}Gérez les réseaux{% endblock %}

{% block body %}
{% include 'navigation/navbar.html.twig' %}

<div class="container mt-4">
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.nom, 'Nom du réseau', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom) }}
    </div>

    
    <div class="mx-auto text-center mb-3">
        {{ form_end(form) }}
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Action</th>
            <th>Nom du réseau</th>
        </tr>
    </thead>
    <tbody>
        {% for reseau in reseaux %}
            <tr>
                <td>
                    <a href="{{ path('app_delete_reseaux', { 'id': reseau.id }) }}" 
                       onclick="return confirm('Êtes-vous sûr de supprimer le réseau?');">
                       <i class="fa fa-trash"></i>
                    </a>
                </td>
                <td>{{ reseau.nom }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
