{% extends 'base.html.twig' %}

{% block title %}Gérez les Partenaires{% endblock %}

{% block body %}
    {% include 'navigation/navbar.html.twig' %}

    <div class="container mt-4">
        <h1 class="m-3 text-center">Créer ou modifier un partenaire</h1>
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

        <div class="form-group">
            {{ form_label(form.nom, 'Nom du partenaire', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}
        </div>

        <div class="text-center mb-3 mt-3">
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container mt-5">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Action</th>
                <th>Nom du partenaire</th>
            </tr>
            </thead>
            <tbody>
            {% for partenaire in partenaires %}
                <tr>
                    <td>
                        <a href="{{ path('app_delete_part', { 'id': partenaire.id }) }}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Êtes-vous sûr de supprimer ce partenaire ?');">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                    <td>{{ partenaire.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
