{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include 'navigation/navbar.html.twig' %}

    <div class="container mt-4">
        <h1 class="m-3 text-center ">Inscription</h1>
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

        <div class="form-row">
            <div class="col-md-6 mb-3">
                {{ form_label(form._username, 'Nom d\'utilisateur', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form._username, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form._username, {'attr': {'class': 'text-danger'}}) }}
            </div>

            <div class="col-md-6 mb-3">
                {{ form_label(form._email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form._email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form._email, {'attr': {'class': 'text-danger'}}) }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3">
                {{ form_label(form._password, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form._password, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form._password, {'attr': {'class': 'text-danger'}}) }}
            </div>

        </div>

        <div class="text-center mb-3 mt-3">
            {{ form_end(form, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>

{% endblock %}
